
<div class="container footer">
    <div class="row">
        <div class="col-xl-3 footer-widget">
            <img src="images/hospa_logo_white.svg" alt="" class="widget-logo">
            <p><span>Locations: </span>485 Bayshore Blvd. Ste 154, San Francisco, CA 95124</p>
            <ul class="widget-hours">
                <li><span>Visiting Hours:</span></li>
                <li>Sunday: 08:00 AM - 10:00 PM</li>
                <li>Monday - Friday: 06:00 AM - 12:00 AM </li>
            </ul>
        </div>
        <div class="col-xl-9 footer-section">
            
        </div>
    </div>
</div>