<html>
    <head>
        <link rel="stylesheet" href="topbar.css">
    </head>
<body>
<header class="topbar">
    <div class="topbar container">
        <div class="col-left">
            <p><i class="fa fa-clock"></i>Ordered before 17:30, shipped today - Support: (012) 800 456 789</p>
        </div>

        <div class="right-col">
            
            <ul>
                <li>English</li>
              <!--dropdown-->
            
                <li>Currency:USD <i class="fa fa-chevron-down"></i></li>
            
                <li>My Account<i class="fa fa-chevron-down"></i></li>
            </ul>
        </div>
    </div>
    
  
</header>
<style>

</style>
</body>
</html>