<!-- components/bar/bar.html -->
<div class="top-bar">
    <div class="top-bar__container">
        <div class="top-bar__logo">
            <img src="https://htmldemo.net/furnilife/furnilife/assets/images/logo.webp" alt="Logo">
        </div>
        
        <div class="top-bar__features">
            <div class="top-bar__feature">
                <i class="fas fa-globe"></i>
                <div class="top-bar__text">
                    <h4>Free shipping</h4>
                    <p>Free shipping on all order</p>
                </div>
            </div>
            
            <div class="top-bar__feature">
                <i class="fas fa-check"></i>
                <div class="top-bar__text">
                    <h4>Money Return</h4>
                    <p>Back guarantee under 7 days</p>
                </div>
            </div>
            
            <div class="top-bar__feature"> 
                <i class="fas fa-ring"></i>
                <div class="top-bar__text">
                    <h4>Member Discount</h4>
                    <p>On every order over $120.00</p>
                </div>
            </div>
        </div>
        
        <div class="top-bar__cart">
            <i class="fas fa-shopping-cart"></i>
            <div class="top-bar__text">
                <h4>$215<i class="fas fa-chevron-down"></i></h4>
                <h6>3 items</h6>
            </div>
        </div>
    </div>
</div>