<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="Footer.css">
    <title>Document</title>
</head>
<body>
    <footer>
        <div class="container">
            <div class="col">
                <img src="https://htmldemo.net/furnilife/furnilife/assets/images/logo.webp">
                <div class="col-lg-4">
                    <p>Address: 123 Main Street, Anytown, CA 12345 - USA.</p>
                    <p>Phone: (012) 800 456 789</p>
                    <p>Fax: (012) 800 456 789</p>
                    <p>Email: support@hastech.company</p>

                    <div class="icon__group">

  <i class="fa-brands fa-twitter"></i>
  <i class="fa-brands fa-facebook-f"></i>
  <i class="fa-brands fa-instagram"></i>
  <i class="fa-brands fa-youtube"></i>
  <i class="fa fa-wifi"></i>

                    </div>                </div>
            </div>
            <div class="col">
             
                <div class="col-lg-2">

                    <h4> INFORMATION</h4>
                    <ul>
                    <li>About Us</li>
                    <li>Contact</li>
                    <li>
                        Blog</li>
                        <li>Services</li>
                        <li>
                            Seller Login</li>
                            <li>Site Map</li>
                </ul>
                              </div>
            </div>
            <div class="col">
             
          
            
            
              
            
              
                <div class="col-lg-2">
                    <h4>     MY ACCOUNT</h4>
                   <ul>
                    <li>      Contact</li>
                    <li>    Order History</li>
                    <li>    My Account</li>
                    <li>     Wishlist</li>
                    <li>        Cart</li>
                    
                   </ul>
                                 </div>
            </div>
            <div class="col">
                    <h4>JOIN OUR NEWSLETTER NOW </h4>
                    <p>Get E-mail updates about our latest shop and special</p>
                    <p>offers.</p>
                    <input type="email" placeholder="Enter your email">

                   <button>Subscribe</button>
            
        
    </div>
    </footer>
</body>
</html>