

.contact-content .content-heading{

    margin-bottom: var(--content-heading-mb) !important;
}


.contact-content .content-paras{

    margin-bottom: var(--content-paragraph-mb) !important;

    text-align: var(--content-paragraph-ta);
}