
<div class="container header-main">
    <div class="row">
        <div class="col-md-12">
            <nav class="navbar navbar-expand-lg bg-body-tertiary" id="Navbar-Section">

                <img src="images/hospa_logo_black.svg" alt="" class="header-logo">

                <ul class="navbar-nav justify-content-end flex-grow-1 pe-3 Navbar" id="desktop-navbar">
                    
                
                </ul>
                <div class="ex-features" id="desktop-ex-features">

                    <i class="fa-solid fa-magnifying-glass search-item"></i>

                    <a href="#" class="emergency-cta-btn"><i class="fa-solid fa-alarm-plus alarm-icon"></i> emergency</a>

                </div>

                 <!-- button to handle off canvas mobile menu -->

                <div class="menu-button" data-bs-toggle="offcanvas" data-bs-target="#mobile-menu">
                    <i class="fa-solid fa-bars"></i>
                </div>
                
                <!-- off canvas menu for mobile -->

                <div class="offcanvas offcanvas-end" tabindex="-1" id="mobile-menu">
                <div class="offcanvas-header" id="menu-header">
                    <h5 class="offcanvas-title" id="offcanvasNavbarLabel"><img src="images/hospa_logo_black.svg" alt="" class="menu-logo"></h5>
                    <i class="fa-regular fa-xmark" id="menu-close" class="btn-close" data-bs-dismiss="offcanvas"></i>
                </div>
                <div class="offcanvas-body">
                    
                    <ul class="navbar-nav justify-content-end flex-grow-1 pe-3 Navbar" id="mobile-navbar">
                    
                
                    </ul>
                    <div class="ex-features" id="mobile-ex-features">

                        <i class="fa-solid fa-magnifying-glass search-item"></i>

                        <a href="#" class="emergency-cta-btn"><i class="fa-solid fa-alarm-plus alarm-icon"></i> emergency</a>

                    </div>
                </div>
                </div>
            </nav>
        </div>
    </div>
</div>









