<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="py-8 text-center border-y relative bg-gray-50 overflow-hidden">
        <!-- Background Text -->
        <p class="absolute inset-0 top-[50%] flex items-center justify-center text-[150px]  text-gray-100 tracking-[10px] z-0 pointer-events-none uppercase font-light">
            Browsing
        </p>

        <!-- Foreground Text -->
        <div class="relative z-10 space-y-2">
            <span class="block text-[10px] tracking-[2px] uppercase text-shopClr font-semibold">Browsing</span>
            <h1 class="lg:text-2xl text-xl font-semibold uppercase">The Shop</h1>
        </div>
    </div>


</body>

</html>